[Unit]
Description=Odoo 19 - Peluqueria Canina PRO
Documentation=https://www.odoo.com/documentation/19.0/
After=network.target postgresql.service

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=/opt/odoo/odoo/odoo-bin -c /etc/odoo.conf
WorkingDirectory=/opt/odoo/odoo
StandardOutput=journal+console
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
